<ul class="list-group">
  <li class="list-group-item" *ngFor="let a of animals" mwlDraggable (dragEnd)="dragEnd($event)">{{a.name}}</li>
</ul>

<div class="jumbotron" mwlDroppable (drop)="this.droppedData = $event.dropData">
  <h2>Drop Here</h2>
</div>

<ul class="list-group">
  <li class="list-group-item" draggable>Coffee</li>
  <li class="list-group-item" draggable>Tea</li>
  <li class="list-group-item" draggable>Milk</li>
</ul>

<div droppable style="height: 200px; width: 200px; background-color: #1db;">
  <p>Drop items here</p>
</div>