<div class="form-group col-md-4">
  <select class="form-control" (change)="deleteBookings($event.target.value)">
    <option [value]="">Select Days</option>
    <option [value]="day.value" *ngFor="let day of days">{{day.viewValue}}</option>
  </select>
</div>

<!-- <table class="table table-dark" matSort (matSortChange)="sortData($event)">
  <thead>
    <tr>
      <th mat-sort-header="name">Name</th>
      <th>Date</th>
      <th mat-sort-header="startDate">Start Date</th>
      <th mat-sort-header="endDate">End Date</th>
      <th mat-sort-header="duration">Duration</th>
      <th mat-sort-header="stylist">Stylist</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dessert of sortedData">
      <td>{{dessert.name}}</td>
      <td>{{dessert.date}}</td>
      <td>{{dessert.startDate}}</td>
      <td>{{dessert.endDate}}</td>
      <td>{{dessert.duration}}</td>
      <td>{{dessert.stylist}}</td>
    </tr>
  </tbody>
</table> -->

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">From</th>
      <th scope="col"></th>
      <th scope="col">To</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>