<div class="jumbotron">
  <h1>Jumbotron</h1>
</div>

<div class="container">
  <div class="row">
    <button class="btn btn-success btn-sm" (click)="changeColor()">
      Click
    </button>

    <p id="para">Some Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi itaque in voluptas esse, ullam natus aliquid nihil
      alias vitae, a ex reprehenderit. Dolorum, corrupti dolore reiciendis odit voluptatum neque tenetur.</p>
  </div>

  <div class="row">
    <div class="col-md-4">
      <form class="form-inline">
        <div class="form-group">
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="today" ngbDatepicker #d="ngbDatepicker" (dateSelect)="onDateSelect($event)">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-4">
      <h2>
        <span class="badge badge-primary">{{today.year}}/{{today.month}}/{{today.day}}</span>
      </h2>
    </div>
    <div class="col-md-4">
      <h2>
        <span class="badge badge-primary">{{tomorrow.year}}/{{tomorrow.month}}/{{tomorrow.day}}</span>
      </h2>
    </div>



  </div>
</div>