
  .custom-day {
    text-align: center;
    padding: 0.25rem;
    border-radius: 0.25rem;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    line-height: 1.5rem;
  }

  .custom-day:hover, .custom-day.focused {
    background-color: #5867dd;
    color: #fff;
  }

  .today {
    border: 2px solid #5867dd;
    border-radius: 1rem;
    color: black;
  }

  .selected{
    background-color: #5867dd;
    border-radius: 0.25rem;
    color: #fff;
  }