<ul class="list-group col-md-3">
  <li class="m-menu__section list-group-item" id="aside-section">
    <div class="content m-menu__section-text">
      <button class="btn btn-prev btn-sm">
        <i class="fas fa-arrow-circle-up" style="color: #FFFFFF; font-size: 40px; cursor: pointer;" (click)="gotoPrev()"></i>
      </button>
      <button class="btn btn-today btn-sm" (click)="selectToday()">Today</button>
      <button class="btn btn-tomorrow btn-sm" (click)="selectTomorrow()">Tomorrow</button>
    </div>
  </li>
  <li class="m-menu__section list-group-item" id="aside-section">
    <div class="content m-menu__section-text">
      <ngb-datepicker #dp [(ngModel)]="model" [navigation]="navigation" [showWeekNumbers]="showWeekNumbers" [outsideDays]="outsideDays"
        (navigate)="date = $event.next" (select)="onDateChange($event)" style="background-color: #f9f9f9;" [startDate]="{year:current.year, month: current.month}"
        [dayTemplate]="customDay">
      </ngb-datepicker>
      <ng-template #customDay let-date="date" let-focused="focused" let-selected="selected">
        <span class="custom-day" [class.today]="isToday(date)" [class.focused]="focused" [class.selected]="selected">
          {{ date.day }}
        </span>
      </ng-template>
    </div>
  </li>
  <li class="m-menu__section list-group-item" id="aside-section">
    <div class="content m-menu__section-text">
      <ngb-datepicker #dp1 [(ngModel)]="model" [navigation]="navigation" [showWeekNumbers]="showWeekNumbers" [outsideDays]="outsideDays"
        (navigate)="date = $event.next" (select)="onDateChange($event)" style="background-color: #f9f9f9;" [startDate]="{year:next.year, month: next.month}"
        [dayTemplate]="customDay">
      </ngb-datepicker>
      <ng-template #customDay let-date="date" let-focused="focused" let-selected="selected">
        <span class="custom-day" [class.today]="isToday(date)" [class.focused]="focused" [class.selected]="selected">
          {{ date.day }}
        </span>
      </ng-template>
    </div>
  </li>
  <!-- [class.today]="isToday(date)" -->
  <li class="m-menu__section list-group-item" id="aside-section">
    <div class="content m-menu__section-text">
      <ngb-datepicker #dp2 [(ngModel)]="model" [navigation]="navigation" [showWeekNumbers]="showWeekNumbers" [outsideDays]="outsideDays"
        (navigate)="date = $event.next" (select)="onDateChange($event)" style="background-color: #f9f9f9;" [startDate]="{year:next2next.year, month: next2next.month}"
        [dayTemplate]="customDay">
      </ngb-datepicker>
      <ng-template #customDay let-date="date" let-focused="focused" let-selected="selected">
        <span class="custom-day" [class.today]="isToday(date)" [class.focused]="focused" [class.selected]="selected">
          {{ date.day }}
        </span>
      </ng-template>
    </div>
  </li>
  <li class="m-menu__section list-group-item">
    <button class="btn btn-prev btn-sm">
      <i class="fas fa-arrow-circle-down" style="color: #FFFFFF; font-size: 40px; cursor: pointer;" (click)="gotoNext()"></i>
    </button>
  </li>
</ul>