table tbody tr td{
    border: none;
}

.show{
    display: block;
    background-color: rgba(0,0,0,0.4)
}

.weekdays{
    background-color: #e0e0e0;
    border-radius: 50%;
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
}


#event:hover #event{
    box-shadow: 0px 0px 15px 0px #e9e9e9;
    
}

.badge{
    animation-name: bagdeAni;
    animation-duration: 1s;
}

@keyframes badgeAni{
    from{margin-top: -10px};
    to{margin-top: 0px}
}

/* <!DOCTYPE html>
<html>
<head>
<style>
div.scrollmenu {
    background-color: #333;
    overflow: hidden;
    white-space: nowrap;
    height: 150px;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    height: 80px;
    margin: 15px 5px;
    border-radius: 5px;
    width: 150px;
    background-color: #e0e0e0;
    transition: all ease 0.5s;
}

div.scrollmenu a:hover {
    background-color: #777;
}

div.scrollmenu .btn-left{
   position: absolute;
   top: 170px;
   left: 10px;
   height: 25px;
   width: 25px;
   background-color: #1db;
   z-index: 100;
   border-radius: 50%;
}

div.scrollmenu .btn-right{
   position: absolute;
   top: 170px;
   right: 10px;
   height: 25px;
   width: 25px;
   background-color: #1db;
   z-index: 100;
   border-radius: 50%;
}

.moveLeft{
   transform: translate(-50px,0px);
}

.moveRight{
 transform: translate(50px,0px);
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    var x = 0;
    $(".btn-left").click(function(){
        x-= 150;
        console.log(x);
        //$("div.scrollmenu a").css({'transform':'translate('+x+'px,0px);'});
        $('div.scrollmenu a').css({"-webkit-transform":"translate("+x+"px,0px)"});
    });
    
    $(".btn-right").click(function(){
        x+=150;
        console.log(x);
        $('div.scrollmenu a').css({"-webkit-transform":"translate("+x+"px,0px)"});
    });
});
</script>
</head>
<body>

<p>If you click on me, I will disappear.</p>
<p>Click me away!</p>
<p>Click me too!</p>

<div class="scrollmenu">
  <button class="btn btn-left">L</button>
  <a href="#home">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
  <a href="#support">Support</a>
  <a href="#blog">Blog</a>
  <a href="#tools">Tools</a>  
  <a href="#base">Base</a>
  <a href="#custom">Custom</a>
  <a href="#more">More</a>
  <a href="#logo">Logo</a>
  <a href="#friends">Friends</a>
  <a href="#partners">Partners</a>
  <a href="#people">People</a>
  <a href="#work">Work</a>
  <button class="btn btn-right">R</button>
</div>

</body>
</html>
*/