<div class="jumbotron">
  Reminder, 2018-08-24, 2018-08-30, 17:50, 18:30
  <div class="row">
    <div class="col-md-3">
      <pre>{{reminder | json}}</pre>
    </div>
    <div class="col-md-3">
      <pre>{{response | json}}</pre>
    </div>
    <div class="col-md-3">
      <pre>{{stylistsArr | json}}</pre>
    </div>
    <div class="col-md-3">
      <pre>timeSoren: {{timeSoren | json}}</pre>
      <pre>timeSarva: {{timeSarva | json}}</pre>
      <pre>timeMette: {{timeMette | json}}</pre>
      <pre>timeMichelle: {{timeMichelle | json}}</pre>
      <pre>timeStart: {{timeStart | json}}</pre>
    </div>
  </div>
</div>

<div class="jumbotron">
  <div class="row">
    <div class="col-md-6">
      <form #CFForm="ngForm" (ngSubmit)="submitCF()">
        <div class="form-group row">
          <div class="col-md-6">
            <label>Soren Peterson</label>
            <input type="text" class="form-control" [(ngModel)]="timeSoren" name="timeSoren">
            <label>Sarva Padua</label>
            <input type="text" class="form-control" [(ngModel)]="timeSarva" name="timeSarva">
            <label>Start Time</label>
            <input type="text" class="form-control" [(ngModel)]="timeStart" name="timeStart">
          </div>
          <div class="col-md-6">
            <label>Mette Skov</label>
            <input type="text" class="form-control" [(ngModel)]="timeMette" name="timeMette">
            <label>Michelle Fritz</label>
            <input type="text" class="form-control" [(ngModel)]="timeMichelle" name="timeMichelle">

            <input class="btn btn-info col-md-12" style="margin-top: 30px;" type="button" (click)="callCloudFunc()" value="Call Cloud Function">
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <div class="progress" style="height: 8px; background-color: #abc2d8">
        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let s of response">
          <span *ngIf="s.stylist == 'BqYWKWzs4r8SyGQvyqH2'">Soren Peterson</span>
          <span *ngIf="s.stylist == 'at5kjx5FqIxbnMys8w4q'">Sarva Padua</span>
          <span *ngIf="s.stylist == 'nFI5hxfIePx240dmqR0R'">Mette Skov</span>
          <span *ngIf="s.stylist == 'spxSj8UZem5uD0wL46EP'">Michelle Fritz</span>
          <span class="badge badge-pill float-right" [ngClass]="{'badge-success':s.status === 'free', 'badge-warning':s.status === 'busy'}">{{s.status}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>


<form (ngSubmit)="onSubmit()" #reminderForm="ngForm">
  <div class="row">
    <div class="form-group col-md-3">
      <input class="form-control" type="text" [(ngModel)]="reminder.name" name="name" placeholder="Name">
    </div>
    <div class="form-group col-md-3">
      <input class="form-control" type="text" [(ngModel)]="reminder.date" name="date" placeholder="Date">
    </div>
    <!-- <div class="form-group col-md-3">
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd"
                 name="dp" [(ngModel)]="reminder.date" ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
          </div>
        </div>
      </div> -->
    <div class="form-group col-md-3">
      <input class="form-control" type="text" [(ngModel)]="reminder.startTime" name="startTime" placeholder="Start Time">
    </div>
    <div class="form-group col-md-3">
      <input class="form-control" type="text" [(ngModel)]="reminder.endTime" name="endTime" placeholder="End Time">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-3">
      <select class="form-control" [(ngModel)]="recurringType" name="recurringType" (change)="onSelectRecurringOption($event.target.value)">
        <option *ngFor="let rec of recurringOptionsArr" value="{{rec.value}}">{{rec.name}}</option>
      </select>
    </div>
    <div class="form-group col-md-3">
      <input class="form-control" type="text" name="endDate" [(ngModel)]="reminder.recurringDate.endDate" placeholder="End Date">
    </div>
    <div class="form-group col-md-3">
      <input class="form-control btn btn-success" type="submit" value="Add New">
    </div>
  </div>
</form>

<div class="row">
  <div class="col-md-3" id="event" *ngFor="let rem of reminderArr" style="border-radius: 6px; box-shadow: 5px 5px 15px 0px #e9e9e9; padding: 5px; margin: 15px;">
    <table class="table" style="margin: 0px;">
      <tbody>
        <tr>
          <td>
            <h5>{{rem.name}}</h5>
          </td>
          <td>{{rem.date}}</td>
        </tr>
        <tr>
          <td>{{rem.startTime}}-{{rem.endTime}}</td>
          <td>
            <span clas="badge badge-pill badge-success"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #customRecForm="ngForm">
          <div class="row form-group">
            Repeat every
            <div class="col-md-4">
              <input class="form-control" type="number" [(ngModel)]="custom.customNum" name="customNum">
            </div>
            <div class="col-md-4">
              <select class="form-control" [(ngModel)]="custom.customType" name="customType">
                <option value="daily">day</option>
                <option value="weekly">week</option>
                <option value="monthly">month</option>
                <option value="yearly">year</option>
              </select>
            </div>
          </div>
          <div class="row form-group" *ngIf="custom.customType == 'weekly'">
            Repeat on
            <div class="col-md-12">
              <!-- <span id="weekdays" role="checkbox"></span>
                  <span id="weekdays" role="checkbox"></span>
                  <span id="weekdays" role="checkbox"></span>
                  <span id="weekdays" role="checkbox"></span>
                  <span id="weekdays" role="checkbox"></span>
                  <span id="weekdays" role="checkbox"></span>
                  <span id="weekdays" role="checkbox"></span> -->

              <span class="weekdays" id="mon" (click)="selectWeekday($event)">M</span>
              <span class="weekdays" id="tue" (click)="selectWeekday($event)">T</span>
              <span class="weekdays" id="wed" (click)="selectWeekday($event)">W</span>
              <span class="weekdays" id="thur" (click)="selectWeekday($event)">T</span>
              <span class="weekdays" id="fri" (click)="selectWeekday($event)">F</span>
              <span class="weekdays" id="sat" (click)="selectWeekday($event)">S</span>
              <span class="weekdays" id="sun" (click)="selectWeekday($event)">S</span>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="hideModal()">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>